extends ../layout

block content
  div.subheader
    h2 Articles
    a(href="/book/new", class="btn-new") Create Article &#43;
    
  each book in books
    article
      h3= book.title
      include by_line
      p= book.shortDescription()
      a(href = "/books/" + book.id) Read More &rarr;