extends layout

block content
        div.addLine
                h2.error.title Server Error
                p.error Sorry! There was an unexpected error on the server
                p.error
        div.errorButton
                a.button(href='/books') Home
