doctype html
html
    head
        title= "Library Directory"
        link(rel='stylesheet', href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1= "Library Directory"
        main
            block content