extends layout

block content
    div.addLine
        h2.error.title Page Not Found
        br
        p.error Sorry! We couldn&apos;t find the page you were looking for.

    div.errorButton
        a.button(href='/books') Home
